.text-line{
  span {
    text-decoration: line-through;
  }
}

body{
  background-color: #00DBDE;
  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
  
}

.header-text {
  font-family: 'Syne Mono', monospace;
  font-weight: bold;
}
.total-text {
  font-family: 'Syne Mono', monospace;
}

.card-shadow {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 25px;
  transition: 0.3s;
}

.card-shadow:hover {
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}